{{ define "title" }}Clinton Collins - Software Developer {{ end }}

{{ define "head" }}
<meta name="Description" content="Clinton Collins. Fullstack developer and everything you need to know.">
{{ end }}


{{ define "content" }}

<section class="pt-5 pt-md-11" id="home" style="margin-top: 160px;">
    <div class="container  animate__animated animate__backInLeft">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2">

                <!-- Image -->
                <img src="static/img/portfolio-showcase/banner.webp"
                     class="img-fluid" alt="Picture of laptop with code.">

            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">

                <!-- Heading -->
                <h1 class="display-4  text-center  text-md-left">
                    Hello, <span class="text-primary  font-weight-bold"><u>I'm Clinton</u></span><br>
                </h1>
                <h2 class=" display-4 text-center pb-1 text-md-left" style="font-size: 40px;">Full-stack Developer &
                                                                                              System Administrator</h2>
                <!-- Text -->
                <p class=" text-center text-md-left text-muted mb-6 mb-lg-8">
                    I started my own business 10 years ago and am still running it today. I have over 10 years of
                    professional experience with system administration for most Linux distributions. I have over 7 years
                    of experience with Python, HTML, CSS, and Javascript including frameworks such as Django, Flask, and
                    Bottle.
                    Shortly after, I picked up proficiency in Go (Golang). I have 4 years of professional experience
                    with Golang
                    building easy to deploy binaries to servers. This includes web applications and services running as
                    RPC and REST callable daemons.
                </p>

                <!-- Buttons -->
                <div class="text-center animate__delay-1s animate__animated  animate__lightSpeedInLeft  text-md-left">
                    <a href="#contact" class="btn btn-dark shadow lift">
                        <i class="far fa-envelope d-none d-md-inline mr-3"></i>Contact
                    </a>
                    <ul class="social-network social-circle">
                        <li>
                            <a aria-label="Clinton's Upwork Profile" href="https://www.upwork.com/fl/clintoncollins2"
                               class="bacon" title="Upwork">
                                <i class="fa fa-bacon"></i>
                            </a>
                        </li>
                        <li>
                            <a aria-label="Clinton's Twitter" href="https://twitter.com/clinton_collins"
                               class="icoTwitter" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a aria-label="Clinton's Github" href="https://github.com/ClintonCollins"
                               class="icoGoogle " title="Github">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a aria-label="Clinton's LinkedIn"
                               href="https://www.linkedin.com/in/clinton-collins-b81a2672/" class="icoLinkedin"
                               title="Linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>
<!--End of Header-->

<!--Known Languages-->
<section class="mt-5 pb-1" id="about">
    <div class="container">
        <div class="row">
            <div class=" py-6 text-center  mt-5 pt-4 animate__delay-0s animate__animated  animate__fadeIn pt-5"
                 style="border-top: 1px solid #f1f4f8 !important;">
                <h2 class="display-4 test animate__animated animate__bounceIn">Languages
                    <span class=" font-weight-bold test text-primary ml-2"><u> I Know</u></span>
                </h2>

            </div>
            <div class="py-5 mt-5">
                <div class="row align-items-center justify-content-center d-flex">
                    <div class="col-6 col-md-2 d-flex justify-content-center mb-4">
                        <img alt="HTML 5 logo" src="static/img/html-5.svg" class="img-fluid" width="60%"
                             height="auto">
                    </div>
                    <div class="col-6 col-md-2 d-flex justify-content-center  mb-4">
                        <img alt="CSS3 logo" src="static/img/css3.svg" class="img-fluid" width="60%" height="auto">
                    </div>
                    <div class="col-6 col-md-2 d-flex justify-content-center  mb-4">
                        <img alt="Javascript logo" src="static/img/javascript-4.svg" class="img-fluid"
                             width="60%" height="auto">
                    </div>
                    <div class="col-6 col-md-2 d-flex justify-content-center  mb-4">
                        <img alt="Golang logo" src="static/img/go.svg" class="img-fluid" width="60%" height="auto">
                    </div>
                    <div class="col-6 col-md-2 d-flex justify-content-center  mb-4">
                        <img alt="Python logo" src="static/img/python-4.svg" class="img-fluid" width="60%"
                             height="auto">
                    </div>
                    <div class="col-6 col-md-2 d-flex justify-content-center mb-4">
                        <img alt="PHP logo" src="static/img/php-1.svg" class="img-fluid" width="60%" height="auto">
                    </div>
                </div> <!-- / .row -->
            </div>
        </div>
    </div>
</section>
<!--End Of Lang-->

<!--Portfolio-->
<section class=" pb-4 mt-5 shadow-sm pt-5" id="portfolio" style="background-color: #fafafa;">
    <h2 class="display-4 text-center animate__animated animate__bounceIn">Some Of My Past
        <span class=" font-weight-bold test text-primary ml-2"><u> Work</u></span>
    </h2>
    <div class="py-6 pb-5  py-md-8" style="  border-bottom: 1px solid #f1f4f8 !important; background-color: #fafafa">
        <div class="container pt-5 mt-40 ">
            <div class="row mt-30">
                <!--- Discord Thalassa --->
                <div class="col-sm-12 col-md-6">
                    <div class="box20 blue">
                        <img alt="Picture of Thalassa bot" src="static/img/portfolio-showcase/thalassa.webp">
                        <div class="box-content">
                            <i class="fas fa-code-branch"></i>
                            <span class="title">Thalassa Bot Discord</span>
                            <p>
                                <a class="button" rel="noopener" href="https://discord.thalassabot.net/"
                                   target="_blank">Learn More</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!----------->
                <!--- Survive The Nights Manager --->
                <div class="col-sm-12 col-md-6">
                    <div class="box20 blue">
                        <img alt="Picture of Survive The Nights web manager"
                             src="static/img/portfolio-showcase/stn.webp">
                        <div class="box-content">
                            <i class="fas fa-code-branch"></i>
                            <span class="title">Survive the Nights Deployment Manager</span>
                            <p>
                                <a class="button" rel="noopener"
                                   href="https://www.upwork.com/fl/clintoncollins2?p=973364001833463808"
                                   target="_blank">Learn More</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!----------->
                <!--- Allgamer Control Panel --->
                <div class="col-sm-12 col-md-6">
                    <div class="box20 blue">
                        <img src="static/img/portfolio-showcase/ag.webp" alt="Picture of Allgamer game control panel">
                        <div class="box-content">
                            <i class="fas fa-code-branch"></i>
                            <span class="title">AG Control Panel Version 2.0</span>
                            <p>
                                <a class="button" rel="noopener"
                                   href="https://www.upwork.com/fl/clintoncollins2?p=973362170063466496"
                                   target="_blank">Learn More</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!----------->
                <!--- AmericaWerx --->
                <div class="col-sm-12 col-md-6">
                    <div class="box20 blue">
                        <img src="static/img/portfolio-showcase/americawerx.webp" alt="Picture of AmerixaWerx website">
                        <div class="box-content">
                            <i class="fas fa-code-branch"></i>
                            <span class="title">AmericaWerx</span>
                            <p>
                                <a class="button" href="https://americawerx.com" rel="noopener"
                                   target="_blank">Learn More</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!----------->
            </div>
        </div>
    </div>
</section>

<!--Contact-->
<section class="pt-2 pb-4" id="contact" style="background: -webkit-linear-gradient(left, #0072ff, #00c6ff);">
    <form id="contactForm" action="/contact" method="post">
        <div class="container contact-container">
            <div class="contact-image">
                <img src="static/img/envelope-open-text-solid.svg" alt="envelope"/>
            </div>
            <h3>Interested in my work? Feel free to contact me below.</h3>
            <div class="row squeeze hidden animate__animated  animate__fadeIn" id="contactSuccess">
                <div class="col alert alert-success">
                    <h5 class="text-center">Your message has been received.</h5>
                    <p id="successMessage" class="text-center">Thank you, I'll be in contact with your shortly!</p>
                </div>
            </div>
            <div class="row squeeze hidden animate__animated  animate__fadeIn" id="contactError">
                <div class="col alert alert-danger">
                    <h5 class="text-center">There was an error sending your message.</h5>
                    <ul id="formErrors"></ul>
                </div>
            </div>
            <div class="row squeeze contact-content">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contactEmailFake" class="email">Do NOT enter an email here</label>
                        <input id="contactEmailFake" type="email" name="contactEmailFake" class="email form-control"
                               value="" autocomplete="off">
                        <label for="contactName">Your name</label>
                        <input id="contactName" type="text" name="contactName" class="form-control contact-input"
                               placeholder="John Doe" value="" required/>
                    </div>
                    <div class="form-group">
                        <label for="contactEmail">Your email</label>
                        <input id="contactEmail" type="email" name="contactEmail" class="form-control contact-input"
                               placeholder="john@doe.com"
                               value="" required/>
                    </div>
                    <div class="form-group">
                        <label id="contactFormVerificationSumLabel"
                               for="contactFormVerificationSum">What is {{ .num1 }} + {{ .num2 }} ?</label>
                        <input id="contactFormVerificationSum" type="number" name="contactFormVerificationSum"
                               class="form-control contact-input" value="" required/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="contactMessage">Your message</label>
                        <textarea id="contactMessage" name="contactMessage" class="form-control contact-input"
                                  placeholder="Hello, I'd like to make my dream a reality..."
                                  style="width: 100%; height: 165px;" required></textarea>
                    </div>
                </div>
            </div>
            <label hidden for="contactFormToken">Token Input Do NOT Change</label>
            <input hidden id="contactFormToken" name="contactFormToken" type="text" value="{{ .contactToken }}" autocomplete="off"/>
            <div class="row justify-content-center contact-content">
                <div class="col-md-6 mb-5 mt-5">
                    <div class="form-group text-center">
                        <input type="submit" name="contactSubmit" id="contactSubmit" class="btnContact contact-input"
                               value="Send Message"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

{{ end }}
